---

# Cleaning

In [15]:
import pandas as pd

In [16]:
df_thejakartaglobe = pd.read_csv('./the_jakarta_globe.csv')

In [17]:
df_thejakartaglobe.shape

(829, 8)

In [18]:
df_thejakartaglobe['tweet'][1].split('http://')[0].rstrip()

'Lippo Cikarang Hands Over Apartment Units in Pasadena Suites in Meikarta CBD'

In [41]:
for i in range(len(df_thejakartaglobe['tweet'])):
    df_thejakartaglobe['tweet'][i] = df_thejakartaglobe['tweet'][i].split('http://')[0].rstrip().split('https')[0].rstrip().split('pic.twitter')[0].rstrip()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [42]:
df_thejakartaglobe['tweet'][8]

'Man of all trades – fashion designer, film and soap opera actor – Robby Tumewu passed away early Monday morning.'

In [64]:
df_thejakartaglobe.to_csv('the_jakarta_globe_cleaned.csv', index=False, sep=',')

---

# Labeling

---

## thejakartaglobe

In [50]:
df_thejakartaglobe.dtypes

handle        object
tweet         object
if_tsunami      bool
datetime      object
day            int64
month         object
year           int64
time          object
dtype: object

In [44]:
df_thejakartaglobe = pd.read_csv('./the_jakarta_globe_cleaned.csv')

In [48]:
df_thejakartaglobe.head(3)

,handle,tweet,if_tsunami,datetime,day,month,year,time
0,thejakartaglobe,Gov't Cracks Down on E-Commerce to Raise Tax C...,False,2019-01-14 07:44:00,14,Jan,2019,7:44 AM
1,thejakartaglobe,Lippo Cikarang Hands Over Apartment Units in P...,False,2019-01-14 07:31:00,14,Jan,2019,7:31 AM
2,thejakartaglobe,'Lagi-Lagi Ateng' Pays Tribute to Legendary Co...,False,2019-01-14 06:35:00,14,Jan,2019,6:35 AM

In [63]:
df_thejakartaglobe[(df_thejakartaglobe['month'] == 'Dec') & ((df_thejakartaglobe['day'] == 22) | (df_thejakartaglobe['day'] == 23))]

,handle,tweet,if_tsunami,datetime,day,month,year,time,if_alert_worthy
232,thejakartaglobe,Tsunami in Pandeglang,True,2018-12-23 23:38:00,23,Dec,2018,11:38 PM,0
233,thejakartaglobe,Sunda Strait Tsunami Aftermath,True,2018-12-23 23:11:00,23,Dec,2018,11:11 PM,0
234,thejakartaglobe,After a box-office success with 2.5 million vi...,False,2018-12-23 23:00:00,23,Dec,2018,11:00 PM,0
235,thejakartaglobe,These Were Indonesia's Biggest Earthquakes and...,True,2018-12-23 22:25:00,23,Dec,2018,10:25 PM,0
236,thejakartaglobe,RAPP Campaigns to Curb Plastic Waste,False,2018-12-23 21:48:00,23,Dec,2018,9:48 PM,0
237,thejakartaglobe,Global Banks Chase Asia Techs Transaction Busi...,False,2018-12-23 21:07:00,23,Dec,2018,9:07 PM,0
238,thejakartaglobe,China Denies 'Slanderous' Economic Espionage C...,False,2018-12-23 21:00:00,23,Dec,2018,9:00 PM,0
239,thejakartaglobe,Malaysia Seeks $7.5b in Reparations From Goldm...,False,2018-12-23 20:51:00,23,Dec,2018,8:51 PM,0
240,thejakartaglobe,Crowd Screams as Indonesian Rock Band Swept Aw...,True,2018-12-23 20:22:00,23,Dec,2018,8:22 PM,0
241,thejakartaglobe,Tsunami Kills at Least 222 in Indonesia After ...,True,2018-12-23 20:05:00,23,Dec,2018,8:05 PM,0
242,thejakartaglobe,Rescuers Dig Through Rubble for Survivors Afte...,True,2018-12-23 19:52:00,23,Dec,2018,7:52 PM,0
243,thejakartaglobe,"From natural disasters to plastic surgery, 201...",False,2018-12-23 02:00:00,23,Dec,2018,2:00 AM,0
244,thejakartaglobe,Develop a Network,False,2018-12-22 23:51:00,22,Dec,2018,11:51 PM,0
245,thejakartaglobe,Krakatau-Triggered Tsunami Kills at Least 62 i...,True,2018-12-22 22:09:00,22,Dec,2018,10:09 PM,1
246,thejakartaglobe,North Korean Media Says Denuclearization Inclu...,False,2018-12-22 15:00:00,22,Dec,2018,3:00 PM,0
247,thejakartaglobe,Merry or Misery? Shoppers Urged to Avoid Chris...,False,2018-12-22 09:00:00,22,Dec,2018,9:00 AM,0
248,thejakartaglobe,Trump Tariff War With China Sends US Retailers...,False,2018-12-22 07:09:00,22,Dec,2018,7:09 AM,0
249,thejakartaglobe,An Online Battle for 900 Million Hearts and Mi...,False,2018-12-22 05:06:00,22,Dec,2018,5:06 AM,0

In [54]:
df_thejakartaglobe['if_alert_worthy'] = 0

In [ ]:
df_thejakartaglobe.iloc[245:246]['if_alert_worthy'] = 1

---

## Sutopo_PN

In [65]:
df_sutopopn = pd.read_csv('./sutopo_pn.csv')

In [76]:
df_sutopopn[(df_sutopopn['month'] == 'Dec') & ((df_sutopopn['day'] == 22) | (df_sutopopn['day'] == 23))]

,handle,tweet,if_tsunami,datetime,day,month,year,time,if_alert_worthy
77,Sutopo_PN,Dampak tsunami di Selat Sunda yang menerjang p...,True,2018-12-23 22:45:00,23,Dec,2018,10:45 PM,0
78,Sutopo_PN,PLN terus melakukan perbaikan jaringan listrik...,True,2018-12-23 22:41:00,23,Dec,2018,10:41 PM,0
79,Sutopo_PN,Semua rata tanah diterjang tsunami di daerah P...,True,2018-12-23 22:36:00,23,Dec,2018,10:36 PM,0
80,Sutopo_PN,Erupsi Gunung Anak Krakatau yang terpantau dar...,False,2018-12-23 19:37:00,23,Dec,2018,7:37 PM,0
81,Sutopo_PN,Data sementara dampak tsunami di Selat Sunda h...,True,2018-12-23 18:32:00,23,Dec,2018,6:32 PM,0
82,Sutopo_PN,Letusan dan kegempaan Gunung Anak Krakatau sel...,False,2018-12-23 17:00:00,23,Dec,2018,5:00 PM,0
83,Sutopo_PN,Erupsi Gunung Anak Krakatau yang terpantau dar...,False,2018-12-23 16:57:00,23,Dec,2018,4:57 PM,0
84,Sutopo_PN,6) Jaringan buoy tsunami di perairan Indonesia...,True,2018-12-23 16:48:00,23,Dec,2018,4:48 PM,0
85,Sutopo_PN,5) Tidak ada peringatan dini tsunami di Selat...,True,2018-12-23 16:45:00,23,Dec,2018,4:45 PM,0
86,Sutopo_PN,"4) Bencana lain seperti banjir, longsor, erups...",False,2018-12-23 16:38:00,23,Dec,2018,4:38 PM,0
87,Sutopo_PN,3) 127 gunungapi atau 13% populasi gunungapi d...,True,2018-12-23 16:36:00,23,Dec,2018,4:36 PM,0
88,Sutopo_PN,2) Indonesia harus membangun sistem peringatan...,True,2018-12-23 16:32:00,23,Dec,2018,4:32 PM,0
89,Sutopo_PN,1) Indonesia belum memiliki sistem peringatan ...,True,2018-12-23 16:25:00,23,Dec,2018,4:25 PM,0
90,Sutopo_PN,Jumlah korban dan kerusakan akibat tsunami di ...,True,2018-12-23 03:14:00,23,Dec,2018,3:14 AM,0
91,Sutopo_PN,Jumlah korban terus bertambah. Update dampak t...,True,2018-12-23 00:17:00,23,Dec,2018,12:17 AM,0
92,Sutopo_PN,Tidak ada peringatan dini tsunami susulan dari...,True,2018-12-22 22:20:00,22,Dec,2018,10:20 PM,0
93,Sutopo_PN,Pantauan udara daerah terdampak tsunami di Pan...,True,2018-12-22 22:11:00,22,Dec,2018,10:11 PM,0
94,Sutopo_PN,Evakuasi korban tsunami di Selat Sunda terus d...,True,2018-12-22 20:51:00,22,Dec,2018,8:51 PM,0
95,Sutopo_PN,"Hingga 23/12/2018 pukul 07.00 WIB, data sement...",True,2018-12-22 17:42:00,22,Dec,2018,5:42 PM,0
96,Sutopo_PN,Feomena tsunami di Selat Sunda termasuk langka...,True,2018-12-22 16:17:00,22,Dec,2018,4:17 PM,0
97,Sutopo_PN,"Benar, ada tsunami yang menerjang pantai di Se...",True,2018-12-22 16:05:00,22,Dec,2018,4:05 PM,0
98,Sutopo_PN,Data sementara dampak tsunami di Pantai di Kab...,True,2018-12-22 15:05:00,22,Dec,2018,3:05 PM,1
99,Sutopo_PN,Penyebab tsunami di di Pandeglang dan Lampung ...,True,2018-12-22 15:02:00,22,Dec,2018,3:02 PM,1
100,Sutopo_PN,Ibu adalah cinta yang tak terbatas dan tak per...,False,2018-12-22 00:50:00,22,Dec,2018,12:50 AM,0

In [69]:
df_sutopopn['if_alert_worthy'] = 0

In [74]:
df_sutopopn.iloc[98:100]#['if_alert_worthy'] = 1

,handle,tweet,if_tsunami,datetime,day,month,year,time,if_alert_worthy
98,Sutopo_PN,Data sementara dampak tsunami di Pantai di Kab...,True,2018-12-22 15:05:00,22,Dec,2018,3:05 PM,1
99,Sutopo_PN,Penyebab tsunami di di Pandeglang dan Lampung ...,True,2018-12-22 15:02:00,22,Dec,2018,3:02 PM,1

In [75]:
df_sutopopn.iloc[245:246]['if_alert_worthy'] = 1

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [77]:
df_sutopopn.to_csv('sutopopn.csv', index=False, sep=',')

---

## BNPB_Indonesia

In [78]:
df_bnpbindonesia = pd.read_csv('./bnpb_indonesia.csv')

In [79]:
df_bnpbindonesia[(df_bnpbindonesia['month'] == 'Dec') & ((df_bnpbindonesia['day'] == 22) | (df_bnpbindonesia['day'] == 23))]

,handle,tweet,if_tsunami,datetime,day,month,year,time
44,Sutopo_PN,Erupsi Gunung Anak Krakatau yang terpantau dar...,False,2018-12-23 19:37:00,23,Dec,2018,7:37 PM
45,Pusdalops_diy,Siaran pers @Sutopo_PN @BNPB_Indonesia terkait...,True,2018-12-22 22:47:00,22,Dec,2018,10:47 PM
46,BNPB_Indonesia,"BPBD Pesawaran Lampung, memberikan bantuan di ...",True,2018-12-23 20:22:00,23,Dec,2018,8:22 PM
47,BNPB_Indonesia,"Presiden Kunjungi Banten, Pastikan Penangan Pa...",True,2018-12-23 20:12:00,23,Dec,2018,8:12 PM
48,BNPB_Indonesia,Evakuasi Korban Tsunami Dilanjutkan: 281 Menin...,True,2018-12-23 18:13:00,23,Dec,2018,6:13 PM
49,BNPB_Indonesia,Korban Tsunami di Selat Sunda Terus Bertambah:...,True,2018-12-23 03:01:00,23,Dec,2018,3:01 AM
50,BNPB_Indonesia,Update dampak tsunami di Selat Sunda per 23/12...,True,2018-12-22 21:36:00,22,Dec,2018,9:36 PM
51,BNPB_Indonesia,Update Dampak Tsunami Selat Sunda: 43 Meningga...,True,2018-12-22 18:11:00,22,Dec,2018,6:11 PM
52,BNPB_Indonesia,"Benar, Tsunami Menerjang Pantai di Selat Sunda...",True,2018-12-22 16:01:00,22,Dec,2018,4:01 PM
53,BNPB_Indonesia,"Korban Tsunami Terus Bertambah, 20 Meninggal D...",True,2018-12-22 15:50:00,22,Dec,2018,3:50 PM
54,BNPB_Indonesia,"Dampak Gelombang Tinggi, 3 Tewas dan 21 Orang ...",False,2018-12-22 10:31:00,22,Dec,2018,10:31 AM
55,BNPB_Indonesia,Tidak Ada Tsunami di Anyer dan Lampung Selatan...,True,2018-12-22 08:58:00,22,Dec,2018,8:58 AM
56,BNPB_Indonesia,"My week on Twitter : 474 Mentions, 3.39M Menti...",False,2018-12-22 05:02:00,22,Dec,2018,5:02 AM

In [ ]:
df_bnpbindonesia['if_alert_worthy'] = 0

In [ ]:
#df_bnpbindonesia.iloc[98:100]#['if_alert_worthy'] = 1

In [ ]:
df_bnpbindonesia.to_csv('bnpb_indonesia.csv', index=False, sep=',')